li{
    display: inline-block;
    margin-inline:1%;
    margin-top: 1.5rem;
}
a{
    color:white;
    font-size: larger;
    text-shadow: 1px 1px black;
}
nav{
    background-image: url("../imgs/back.jpg");
    height: 9vh;
    background-size: cover;
    background-position:center right;
    position: sticky;
}
.back-nav{
    background-color:rgba(255, 68, 0, 0.39);
    height: inherit;
}
ul{
    height: inherit;
}